<p>
  host works!
</p>

<!-- <h1 appHostelement>Welcome to Sahosoft</h1> -->
<!-- <h1>Welcome to Sahosoft</h1> -->


<!-- <div appBgColor defaultColor="Red" mouseOverColor="green" mouseLeaveColor="blue">
  <h2>I am Reddy</h2>
</div> -->

<!-- <div appBgColor [defaultColor]="Red" [mouseOverColor]="green" [mouseLeaveColor]="blue">
  <h2>I am Reddy</h2>
</div> -->

<!-- <div appBgColor [defaultColor]="'Red'" [mouseOverColor]="'green'" [mouseLeaveColor]="'blue'">
  <h2>I am Reddy</h2>
</div> -->

<h2>Host Lisner</h2>