
<!-- <div ngNonBindable> Output of  {{Name}} is : </div> {{Name}} -->

<!-- <h3>Pipes Example</h3>

<h2>{{Name}}</h2>

<h2 ngNonBindable>{{Name | lowercase}}</h2>
<h2>{{Name | lowercase}}</h2>

<h2 ngNonBindable>{{Name | uppercase}}</h2>
<h2>{{Name | uppercase}}</h2>

<h2 ngNonBindable>{{Name | titlecase}}</h2>
<h2>{{Name | titlecase}}</h2>

<h3>Slice Pipes</h3>
<h2 ngNonBindable>{{Name | slice:3}}</h2>
<h2>{{Name | slice:3}}</h2>

<h2 ngNonBindable>{{Name | slice:3:8}}</h2>
<h2>{{Name | slice:3:8}}</h2>


<h3>json Pipe</h3>
<div>{{Employee | json}}</div> -->

<!-- <h3>Date Pipes</h3>

<div>{{currentDate}}</div>

<div ngNonBindable>{{currentDate | date :'longDate'}}</div>
<div>{{currentDate | date :'longDate'}}</div>

<div ngNonBindable>{{currentDate | date :'shortDate'}}</div>
<div>{{currentDate | date :'shortDate'}}</div>

<div ngNonBindable>{{currentDate | date :'fullDate'}}</div>
<div>{{currentDate | date :'fullDate'}}</div> -->
<!-- 
<h3>Decimal Pipes</h3>

<div>
    Using default format: 
    minIntegerDigits = 1 
    minFractionDigits = 0 
    maxFractionDigits = 3 
</div>

<h2>Using default format</h2>
<h2 ngNonBindable>{{12.638467846 | number}}</h2>
<h2>{{12.638467846 | number}}</h2>

<h2 ngNonBindable>{{12.638767846 | number}}</h2>
<h2>{{12.638767846 | number}}</h2>


<h2 ngNonBindable>{{12.638467846|number:'3.2-5'}}</h2>  
<h2>{{12.638467846|number:'3.2-5'}}</h2>  

<h2 ngNonBindable>{{0.5|number:'3.2-5'}}</h2>  
<h2>{{0.5|number:'3.2-5'}}</h2>  


<h2 ngNonBindable>{{4.2|number:'1.0-0'}}</h2>  
<h2>{{4.2|number:'1.0-0'}}</h2>  

<h3>Percent Pipes</h3>
<h2 ngNonBindable>{{2.5 | percent}}</h2>
<h2>{{2.5 | percent}}</h2>

<h2 ngNonBindable>{{2.5 | percent:'2.2-5'}}</h2>
<h2>{{2.5 | percent:'2.2-5'}}</h2> -->

<h3>Currency Pipes</h3>

<h2 ngNonBindable>{{0.25 | currency }}</h2>
<h2>{{0.25 | currency }}</h2>


<h2 ngNonBindable>{{10.263782 | currency : 'USD'}}</h2>
<h2>{{10.263782 | currency : 'USD'}}</h2>

<h2 ngNonBindable>{{10.263782 | currency}}</h2>
<h2>{{10.263782 | currency }}</h2>

<h2 ngNonBindable>{{10.263782 | currency : 'INR'}}</h2>
<h2>{{10.263782 | currency : 'INR'}}</h2>

<h2 ngNonBindable>{{10.263782 | currency : 'INR' : true}}</h2>
<h2>{{10.263782 | currency : 'INR': true}}</h2>

<h2 ngNonBindable>{{10.263782 | currency : 'INR' : false}}</h2>
<h2>{{10.263782 | currency : 'INR': false}}</h2>


<h2 ngNonBindable>{{10.263782 | currency : 'INR' : false : '2.2-4'}}</h2>
<h2>{{10.263782 | currency : 'INR': false: '2.2-4'}}</h2>

