<h3 class="my-5">
  contentchild-parent Component!
</h3>

<!-- parent component -->
<h1 class="text-success">Parent component Data</h1>
<app-contentchild-child></app-contentchild-child>
<!-- parent component -->

<!-- child Component Data through ng-content -->
<h1 class="text-success">child Component Data through ng-content</h1>
<ng-content></ng-content>
<button (click)='onClick()'>Console to see title input</button>
<!-- it is from contentchild -->
{{msg}} 
<!-- child Component Data through ng-content -->

