<p>
  myservice works!
</p>

<!-- <input type="text" name="" [(ngModel)]="value" (keydown.enter)="save($event)"> -->
<input type="text" name="" [(ngModel)]="value">
<button type="button" (click)="addNum(value)">Add Value</button>

<h3>Value List</h3>
<ul>
  <li *ngFor="let item of allNum">
    {{ item }}
  </li>
</ul>

<h2>Local storage</h2>
<input type="text" name="" [(ngModel)]="array">
<button type="button" (click)="addUser(array)">Add User</button>

<h3>Users List</h3>
<ul>
  <li *ngFor="let item of myUsers">
    {{ item }}
  </li>
</ul>
